@import url("font-awesome.min.css");

body {
	background-image: url("../img/bg.gif");
	background-repeat: repeat;
}

header {
	padding-bottom: 50px;
}

main {
	width:800px;
	height:320px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-160px 0 0 -400px;
	text-align: center;
}

/* Navigation */

nav {
	color: white;
}

nav ul {
    margin: 0;
	padding: 0;
	font-size: 8px;
	color: white;
}

nav li {
	display: inline-block;
}

nav li a {
	padding: 35px;
	letter-spacing: 6px;
	font-size: 10px;
	text-transform: uppercase;
	opacity: 0.5;
	color: white;
	text-decoration: none;
}
nav li a:hover {
	opacity: 1
}

p {
	display: inline-block;
}